/* new page */
.create-list-title {
  /* outline: 3px solid rgb(143, 131, 129); */
  text-align: center;
}
.create-list-form {
  /* outline: 3px solid rgb(143, 131, 129); */
  max-width: 580px;
  margin: 0 auto;
}
.col-form-label {
  font-size: 20px;
}
