/* new page */
.create-list-title {
  text-align: center;
  margin-top: 50px;
}
.create-list-form {
  max-width: 580px;
  margin: 0 auto;
}
.col-form-label {
  font-size: 20px;
}
.back-button-btn {
  color: beige;
  background-color: #1895a3;
}
.create {
  display: flex;
  margin: auto;
}
.create-button {
  margin: 20px auto;
  color: beige;
  background-color: #ff8080;
}
