.nav-tabs .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
  border: 0;
  color: gray;
}

.nav-tabs .nav-link.active {
  color: #000000;
  border-radius: 0;
}
.edit-form,
.new-form {
  margin-top: 20px;
  padding: 35px;
  border-radius: 25px;
  background-color: #fafdfb;
}

.create-list-title {
  text-align: center;
  margin-top: 50px;
}
.create-list-form {
  max-width: 580px;
  margin: 0 auto;
}
.col-form-label {
  font-size: 20px;
}
.back-button-btn {
  color: beige;
  background-color: #1895a3;
}
.create {
  display: flex;
  margin: auto;
}
.create-button {
  margin: 20px auto;
  color: beige;
  background-color: #ff8080;
}
