.amount-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
}
.amount-month,
.amount-income,
.amount-expense,
.amount-balance {
  height: 100%;
  border-radius: 5px;
  background-color: lightyellow;
  -webkit-box-shadow: 2px 10px 12px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 10px 12px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 10px 12px 0px rgba(0, 0, 0, 0.1);
}

.amount-description::before {
  content: "$";
  color: orange;
}
.amount-text {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #4a4a4a;
}
.amount-title {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  color: #1a5366;
}
.amount-month {
  display: flex;
  justify-content: center;
  align-items: center;
}
#amount-month-title {
  font-size: 2.5rem;
  color: #242220;
}

.amount-description {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
}
.buttons-wrapper {
  width: 100%;
  margin-top: 5px;
}
.button-month .button-category .button-reset {
  height: 100%;
  width: 100%;
  margin-right: 5px;
}

.list-group {
  width: 100%;
  margin: 10px auto;
}

.record-text {
  margin: 10px 10px 10px 0;
}
.list-icon {
  color: #53c9a6;
}
.fa-edit {
  color: #f5d998;
}
.delete-btn {
  border: none;
  background-color: transparent;
  color: #ff8080;
}
.total-amount {
  padding-left: 15px;
}

.record-amount-text {
  font-weight: bold;
  font-size: 2rem;
}
optgroup {
  font-size: 2rem;
}
.button-month {
  margin-top: 15px;
}
.button-month,
.button-category,
.button-reset {
  margin-bottom: 15px;
}
option {
  padding: 5px;
}
.record-date {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.reset-select {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .list-group {
    width: 75%;
  }
  .select-form {
    position: relative;
    width: 75%;
    margin: 5px auto;
  }

  .buttons-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0 0;
    justify-content: flex-start;
  }
  .button-category,
  .button-reset {
    margin-top: 15px;
  }
  .button-category,
  .button-month {
    margin-right: 15px;
  }
}
