.container {
  /* outline: 3px solid rgb(61, 13, 184); */
  padding: 0 25px;
}
.total-amount {
  /* outline: 3px solid rgb(184, 13, 127); */
  width: 590px;

  margin: auto;
}
.filter-options {
  /* outline: 3px solid rgb(12, 9, 233); */
  width: 590px;
  margin: 10px auto;
}
.select-form {
  /* outline: 3px solid rgb(19, 37, 2); */
  width: 400px;
  margin: 2px;
}
@media (max-width: 576px) {
  .total-amount {
    width: 320px;
  }
  .filter-options {
    width: 320px;
  }
  .reset-button,
  .create-button {
    text-align: right;
  }
}

@media (min-width: 577px) and (max-width: 1000px) {
  .filter-options {
    width: 590px;
  }

  .reset-button,
  .create-button {
    text-align: right;
  }
}
.category-select,
.month-select {
  height: 40px;
  margin-top: 5px;
  margin-bottom: 2px;
}
.reset-button {
  height: 40px;
  margin-top: 5px;
}

.list-group {
  max-width: 590px;
  margin: 10px auto;
}

.record {
  border-radius: 20%;
}
.record-text {
  margin-top: 10px;
}
.list-icon {
  color: #53c9a6;
}
.fa-edit {
  color: #f5d998;
}
.delete-btn {
  border: none;
  background-color: transparent;
  color: #ff8080;
}
.total-amount {
  padding-left: 15px;
}

.record-amount-text {
  font-weight: bold;
  font-size: 2rem;
}
