body {
  /* Font or other */
  background-color: #f3f3f3;
}
main {
  /* Box Model */
  outline: 3px solid tomato;
  max-width: 1080px;
  margin: 25px auto;
  padding: 40px 40px;
}

.navbar {
  background: white;
}
.navbar-brand {
  font-weight: bolder;
}
