.row {
  margin-top: 10%;
}
.register {
  padding: 25px;
  border-radius: 25px;
  background-color: white;
}

h2 {
  font-weight: bold;
}

h2,
.fa-user,
.fa-lock,
.fa-envelope,
.fa-check-double {
  color: #6c757d;
}
small {
  color: #ff8080;
}
.row {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .register {
    width: 75%;
    margin: 0 auto;
  }
}
