body{
  background-color: #F3F3F3;
}
main {
  /* outline: 3px solid tomato;   */
  max-width: 1080px;    
  margin: 25px auto;     
  padding: 40px 40px;  
}
.container{
  /* outline: 3px solid rgb(143, 131, 129); */
  padding: 20px 20px;  
}
.category-select{
  width: 200px;
  height: 40px;
}
.filter-all{
  height: 40px;
  margin-left:  15px;
  background-color: #1895A3;
  color: beige;
}
.backButton{
   background-color: #1895A3;
  color: beige;
}
.fa-funnel-dollar{
  color: #F5D998;
}
.list-group{
   max-width: 590px;
   margin: 25px auto;
}
.list-icon{
   color:#53C9A6;
}
.fa-edit {
  color:#F5D998;
}
.delete-btn {
  border: none;
  background-color: transparent;
  color:#FF8080;
}
.total-amount{
 padding-left: 15px;
}
.home-top, .create-list{
  max-width: 750px;
  margin: 0 auto;
}

.record-amount-text{
  font-weight: bold;
  font-size: 2rem;
}
.createButton{
  color:#03031B;
  background-color: #B5EBDA;
}
/* new page */
.create-list-title{
    /* outline: 3px solid rgb(143, 131, 129); */
    text-align: center;
}
.create-list-form{
   /* outline: 3px solid rgb(143, 131, 129); */
   max-width: 580px;
  margin: 0 auto;
}
.col-form-label{
  font-size:20px;
}